{% extends "index.html" %}
{% block entries %}
  <ul class="entries">
    <li class="tbl_header">Groups</li>
    {% for group_name, group_details in entries.items()|sort %}
        <li>
          <a href="{{ url_for('groups', group_id=group_details['group_id']) }}">{{ group_name }} ({{ group_details['group_id'] }})</a>
        </li>
    {% else %}
      <li><em>No entries here so far</em></li>
    {% endfor %}
  </ul>
  {% if entry_item %}
    <ul class="entries">
      <li class="tbl_header">{{ entry_item_name }}</li>
      {% for k, v in entry_item.items()|sort %}
        <li>
          <div class="item">{{ k }}</div>
          {% if k == "includes"  %}
            {% for i in v %}
              <a href="{{ url_for('groups', group_id=i['group_id']) }}" >{{ i['name'] }}</a>
            {%  else %}
              --
            {% endfor %}
          {% elif k == "members" %}
            <div class="user-container">
            {% for i in v %}
              <div class="dialog">
                <img src="{{ url_for('static', filename='img/user_icon.png') }}" alt="Gerrit User">
                {{ i['username'] }}<a href="{{ url_for('groups', group_id=entry_item['group_id'], member=i['username'], action='delete') }}" class="close-icon"></a>
              </div>
            {%  else %}
              --
            {% endfor %}
            </div>
          {% elif k == "owner" %}
            <img src="{{ url_for('static', filename='img/group_icon.png') }}" alt="Gerrit Group"> <a href="{{ url_for('groups', group_id=v)|urlencode }}">{{ v }}</a>
          {% else %}
            {% if v %}<i> {{ v }}</i>{% else %} -- {% endif %}
          {% endif %}
        </li>
      {% endfor %}
      {% if request.args.get('details') %}
        <li><a href="{{ url_for('groups', group_id=entry_item['group_id']) }}" class="button">Hide Details</a></li>
      {% else %}
        <li><a href="{{ url_for('groups', group_id=entry_item['group_id'], details='1') }}" class="button">Show Details</a></li>
      {% endif %}
    </ul>
  {% else %}
    <form action="" method="post">
      <ul class="entries">
        <li class="tbl_header">Create New Group</li>
        <li class="hints">Create group with <strong>default</strong> parameters</li>
        <li>Group name: <input type="text" name="group_name" size="30" value="{{ request.form.group_name }}" title="Name of group to be created"></li>
        <li><div class="button"><input type="submit" value="Create"></div></li>
      </ul>
    </form>
  {% endif %}
{% endblock %}
