{% extends "layout.html" %}
{% block body %}
  <h2>
    <a href="{{ url_for('index') }}">Gerrit Viewer Panel</a>
    {% if entry_category %} &#8594; <a href="{{ url_for(entry_category) }}">{{ entry_category|capitalize }}</a> {% endif %}
    {% if entry_item %} &#8594; <a href="{{ entry_item_name }}">{{ entry_item_name }}</a> {% endif %}
  </h2>
  <p class="note">
    <strong>Note:</strong> Ability to perform <i>View</i>, <i>Modify</i>, <i>Delete</i> or <i>Create</i> actions depends on
    <strong> '{% if session.logged_in %}{{ username }}{% else %} anonymous{% endif %}' </strong> access rights.
  </p>
  {% for category, message in get_flashed_messages(with_categories=true) %}
    <p class="{{ category }}"><strong>{{ category|capitalize }}:</strong> {{ message|safe }}</p>
  {% endfor %}
  {% if entries %}
    <div class="content">{% block entries %}{% endblock %}</div>
  {% endif %}
{% endblock %}
