{% extends "index.html" %}
{% block title %}Sign In{% endblock %}
{% block breadcrumb %}
  {% include 'includes/breadcrumb.html' %}
{% endblock %}
{% block body %}
  <p class="alert-info p-2 mt-2">
    <strong>Note:</strong> Specify your <i>username</i> and <i>password</i> from Gerrit user account (Settings &#8594; HTTP password).
  </p>
  {% for category, message in get_flashed_messages(with_categories=true) %}
    <p class="{{ get_category(category) }} p-2 mt-2"><strong>{{ category|capitalize }}:</strong> {{ message|safe }}</p>
  {% endfor %}

  <div class="card">
    <div class="card-body">
      <h2>Gerrit HTTP authentication credentials</h2>
      <div class="w-25">
        <form action="" method="post">
          {{ form.hidden_tag() }}
          <div class="form-group required">
            {{ form.username.label(class_="control-label") }}
            {{ form.username(class_="form-control") }}
            {{ handle_form_errors(form.username.errors) }}
          </div>
          <div class="form-group required">
            {{ form.password.label(class_="control-label") }}
            {{ form.password(class_="form-control") }}
            {{ handle_form_errors(form.password.errors) }}
          </div>
          <div class="form-check">
            {{ form.auth_type(class_="list-unstyled") }}
          </div>
          <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

