{% extends "layout.html" %}
{% block title %}Sign In{% endblock %}
{% block url %}{{ gerrit_url }} [{{ gerrit_version }}]{% endblock %}
{% block body %}
  <p class="note">
    <strong>Note:</strong> Specify your <i>username</i> and <i>password</i> from Gerrit user account (Settings &#8594; HTTP password).
  </p>
  {% for category, message in get_flashed_messages(with_categories=true) %}
    <p class="{{ category }}"><strong>{{ category|capitalize }}:</strong> {{ message|safe }}</p>
  {% endfor %}
  <form action="" method="post" class="form-style">
    <h2>Gerrit HTTP authentication credentials</h2>
    <dl>
      <dt>Username:</dt>
      <dd><input type="text" name="username" size="30" value="{{ request.form.username }}"></dd>
      <dt>Password:</dt>
      <dd><input type="password" name="password" size="30"></dd>
      <dt>HTTP authentication methods:</dt>
      <dd><input type="radio" name="auth_type" value="basic" title="HTTP Basic auth method" checked="checked"> HTTP Basic</dd>
      <dd><input type="radio" name="auth_type" value="digest" title="HTTP Digest auth method"> HTTP Digest</dd>
    </dl>
    <div class="actions"><input type="submit" value="Sign In"></div>
  </form>
{% endblock %}

