{% extends "layout.html" %}
{% block title %}Sign In{% endblock %}
{% block body %}
  <ol class="breadcrumb p-1 small">
    <li class="breadcrumb-item"><a href="{{ url_for('home.index') }}">Home</a></li>
    <li class="breadcrumb-item">Sign In</li>
  </ol>
  <p class="alert-info p-2 mt-2">
    <strong>Note:</strong> Specify your <i>username</i> and <i>password</i> from Gerrit user account (Settings &#8594; HTTP password).
  </p>
  {% for category, message in get_flashed_messages(with_categories=true) %}
    <p class="{{ get_category(category) }} p-2 mt-2"><strong>{{ category|capitalize }}:</strong> {{ message|safe }}</p>
  {% endfor %}
  <form action="" method="post" class="form-style">
    <h2>Gerrit HTTP authentication credentials</h2>
    <dl>
      <dt>Username:</dt>
      <dd><input type="text" name="username" size="30" value="{{ request.form.username }}"></dd>
      <dt>Password:</dt>
      <dd><input type="password" name="password" size="30"></dd>
      <dt>HTTP authentication methods:</dt>
      <dd><input type="radio" name="auth_type" value="basic" title="HTTP Basic auth method" checked="checked"> HTTP Basic</dd>
      <dd><input type="radio" name="auth_type" value="digest" title="HTTP Digest auth method"> HTTP Digest</dd>
    </dl>
    <div class="actions"><input type="submit" value="Sign In"></div>
  </form>
{% endblock %}

