{% extends "index.html" %}
{% block entries %}
  <ul class="entries">
    <li class="tbl_header">Installed Plugins</li>
    {% for plugin_name, plugin_details in entries.items()|sort %}
      {% if plugin_details['disabled'] %}
        <li class="disabled">
      {% else %}
        <li>
      {% endif %}
      <a href="{{ url_for('plugins', plugin_id=plugin_name) }}">{{ plugin_name }} (<em>{{ plugin_details['version'] }}</em>)</a>
    </li>
    {% else %}
      <li><em>No entries here so far</em></li>
    {% endfor %}
  </ul>
  {% if entry_item %}
    <ul class="entries">
      <li class="tbl_header">{{ entry_item_name }}</li>
      {% for k, v in entry_item.items() %}
        <li>
          <div class="item">{{ k }}</div>
          <i> {{ v }}</i>
        </li>
      {% endfor %}
      {% if entry_item['disabled'] %}
        <li><a href="{{ url_for('plugins', plugin_id=entry_item_name, action='enable') }}" class="button">Enable</a></li>
      {% else %}
        <li>
          <a href="{{ url_for('plugins', plugin_id=entry_item_name, action='disable') }}" class="button">Disable</a>
          <a href="{{ url_for('plugins', plugin_id=entry_item_name, action='reload') }}" class="button">Reload</a>
        </li>
      {% endif %}
    </ul>
  {% else %}
    <form enctype="multipart/form-data" action="" method="post">
      <ul class="entries">
        <li class="tbl_header">Install New Plugin</li>
        <li class="hints">Specify <strong>either</strong> URL <strong>or</strong> local file path to JAR-plugin file</li>
        <li>URL: <input type="text" name="plugin_url" size="50" value="{{ request.form.plugin_url }}" title="URL to jar file"></li>
        <li>
          File: <input type="file" name="file">
        </li>
        <li><div class="button"><input type="submit" value="Install"></div></li>
      </ul>
    </form>
  {% endif %}
{% endblock %}
