{% extends "index.html" %}
{% block title %}Settings{% endblock %}
{% block breadcrumb %}
  {% include 'includes/breadcrumb.html' %}
{% endblock %}
{% block body %}
  <p class="alert-info p-2 mt-2">
    <strong>Note:</strong> Specify settings for Gerrit QuickViewer.
  </p>
  {% for category, message in get_flashed_messages(with_categories=true) %}
    <p class="{{ get_category(category) }} p-2 mt-2"><strong>{{ category|capitalize }}:</strong> {{ message|safe }}</p>
  {% endfor %}
  <div class="card">
    <div class="card-body">
      <h2>Gerrit QuickViewer Settings</h2>
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group required">
          {{ form.gerrit_url.label(class_="control-label") }}
          {{ form.gerrit_url(class_="form-control", value=gerrit_url) }}
          {{ handle_form_errors(form.gerrit_url.errors) }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
{% endblock %}

