{% extends "layout.html" %}
{% block title %}Settings{% endblock %}
{% block body %}
  <ol class="breadcrumb p-1 small">
    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Home</a></li>
    <li class="breadcrumb-item">Settings</li>
  </ol>
  <p class="alert-info p-2 mt-2">
    <strong>Note:</strong> Specify settings for Gerrit QuickViewer.
  </p>
  {% for category, message in get_flashed_messages(with_categories=true) %}
    <p class="{{ get_category(category) }} p-2 mt-2"><strong>{{ category|capitalize }}:</strong> {{ message|safe }}</p>
  {% endfor %}
  <div class="card">
    <div class="card-body">
      <h2>Gerrit QuickViewer Settings</h2>
      <form action="" method="post">
        <div class="form-group">
          <label class="text-muted pt-2">URL path to Gerrit server:
            <input type="url" class="form-control" name="gerrit_url" size="30" value="{{ gerrit_url }}" required>
          </label>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
{% endblock %}

