{% extends "accounts/single.html" %}
{% block item %}
  <h2>Contact Information</h2>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.fullname.label(class_="control-label") }}
      {{ form.fullname(class_="form-control", value=entry_item['name']) }}
    </div>
    <div class="form-group">
      {{ form.username.label(class_="control-label") }}
      {% if not entry_item['username'] %}
        <p class="text-muted">Setting the Username is permanent, i.e. cannot be changed in future.</p>
      {% endif %}
      {{ form.username(class_="form-control", value=entry_item['username'], readonly=True if entry_item['username'] else False) }}
    </div>
    {% if entry_item['status'] %}
      <div class="form-group">
          {{ form.status.label(class_="control-label") }}
          {{ form.status(class_="form-control", value=entry_item['status']) }}
      </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Save changes</button>
  </form>
{% endblock %}
