{% extends "index.html" %}
{% block submenu %}
  {% with entity='Account', action='create' %}
    {% include 'includes/submenu.html' %}
  {% endwith %}
{% endblock %}
{% block entries %}
  <div class="card">
    <div class="card-body">
      <h2>Create Account</h2>
      <p class="text-muted">Create a new user account</p>
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group required">
          {{ form.username.label(class_="control-label") }}
          {{ form.username(class_="form-control", placeholder="Enter username") }}
          {{ handle_form_errors(form.username.errors) }}
        </div>
        <div class="form-group">
          {{ form.fullname.label(class_="control-label") }}
          {{ form.username(class_="form-control", placeholder='Enter Full name') }}
        </div>
        <div class="form-group">
          {{ form.email.label(class_="control-label") }}
          {{ form.email(class_="form-control", placeholder='Enter e-mail') }}
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>
{% endblock %}
