{% extends "accounts/single.html" %}
{% block item %}
  <h2>{{ entry_item['name'] }}</h2>
  <table class="table table-striped table-sm">
    <tbody>
    {% for key, value in entry_item.items()|sort %}
      {% if key == 'membership' %}
        <tr><th scope="row">{{ key }}</th>
          <td>
            {% for group in value %}
              [<a href="{{ url_for('groups.fetch', group_id=group['group_id']) }}">{{ group['name'] }}</a>]
            {% endfor %}
          </td>
        </tr>
      {% else %}
        <tr><th scope="row">{{ key }}</th><td>{{ value }}</td></tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
  {% if request.args.get('details') %}
    <a href="{{ url_for('accounts.fetch_single', account_id=entry_item['_account_id']) }}" class="btn btn-primary" role="button">Hide Details</a>
  {% else %}
    <a href="{{ url_for('accounts.fetch_single', account_id=entry_item['_account_id'], details='1') }}" class="btn btn-primary" role="button">Show Details</a>
  {% endif %}
  {% if entry_item['is_active'] %}
    <a href="{{ url_for('accounts.fetch_single', account_id=entry_item['_account_id'], action='disable') }}" class="btn btn-danger" role="button">Disable</a>
  {% else %}
    <a href="{{ url_for('accounts.fetch_single', account_id=entry_item['_account_id'], action='enable') }}" class="btn btn-primary" role="button">Enable</a>
  {% endif %}
{% endblock %}
