{% extends "index.html" %}
{% block submenu %}
  {% with entity='Account', action='create' %}
    {% include 'includes/submenu.html' %}
  {% endwith %}
{% endblock %}
{% block breadcrumb %}
  {% include 'includes/breadcrumb.html' %}
{% endblock %}
{% block entries %}
  {% if entry_item %}
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{{ url_for('accounts.fetch_single', account_id=entry_item['_account_id']) }}" class="card-link">Profile</a></li>
            <li class="list-group-item"><a href="{{ url_for('accounts.edit_contact_info', account_id=entry_item['_account_id']) }}" class="card-link">Contact Information</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="card">
          <div class="card-body">
          {% block item %}
          {% endblock %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
