body {
    font-family: sans-serif;
    font-size: 16px;
    background: #EEE;
}

a, h1, h2 {
    color: #377BA8;
    text-decoration: none;
}

h1, h2 {
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}

div.wrapper {
    width: auto;
    margin: 0;
}

.wrapper {
    width: 960px;
}

.navbar {
    text-align: right;
    font-size: 0.9em;
    padding: 0.6em;
    margin-bottom: 1em;
    background: #fafafa;
}

.menu {
    float: left;
    font-weight: bold;
}

.hints {
    font-size: 0.8em;
    font-style: italic;
}

/* -------------------- Message Style --------------------- */

.error {
    border-left: 6px solid #FF0000;
    background-color: #F08080;
    padding: 10px;
}

.note {
    border-left: 6px solid #008000;
    background-color: #D0D7DA;
    padding: 10px;
}

/* --------------------- Sign In Form Style ------------------------ */

.form-style {
    display: block;
    max-width: 420px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}

.form-style h2 {
    background: #377BA8;
    padding: 20px 10px;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.form-style input[type="text"],
.form-style input[type="password"] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.form-style input[type="text"]:focus,
.form-style input[type="password"]:focus {
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.form-style input[type="submit"],
.form-style input[type="button"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #377BA8;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}

.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover {
    background: #263F8F;
    cursor: pointer;
}

dd {
    margin: 0;
    padding: 0;
}

form {
    display: inline-block
}

/*--------------------- Entries Style ---------------- */

.entries {
    vertical-align: top;
    border: 1px solid #377BA8;
    padding: 0;
    margin: 20px 0 0 20px;
    display: inline-block;
}

.entries ul, li {
    list-style-type: none;
}

.entries li:nth-child(odd) {
    background: #DEDEDE;
    padding: 5px 10px;
}

.entries li:nth-child(even) {
    background: #EFEFDF;
    padding: 5px 10px;
}

.entries li.disabled {
    background: #FF4C4C;
}

.entries a {
    color: #000000;
    text-decoration: underline;
}

.entries a:hover {
    color: #263F8F;
}

.entries em {
    font-size: 0.8em;
    font-weight: bold;
}

.entries li.tbl_header {
    background: #377BA8;
    color: #FFF;
    text-align: center;
    font-weight: 700;
}

.entries .item {
    width: 140px;
    float: left;
    padding-right: 15px;
    margin-right: 10px;
    display: inline-block;
    border-right: 1px solid #377BA8;
    font-weight: 700;
}

.entries a.button,
.button input[type="submit"] {
    display: inline-block;
    background: #377BA8;
    color: #EEEEEE;
    cursor: pointer;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 0.9em;
    border-style: none;
}

.entries a.button:hover,
.button input[type="submit"]:hover {
    background: #3D228E;
}

.entries a.button:hover .marked {
    color: #FF0000;
}

/*--------------------- Delete Item Style ---------------- */

/* Close Button */

.close-icon {
    font: 14px/100% arial, sans-serif;
    position: absolute;
    text-shadow: 0 1px 0 #fff;
    top: -5px;
    clear: both;
}

.close-icon:after {
    content: '✖'; /* UTF-8 symbol */
}

.dialog a {
    text-decoration: none;
}

.dialog {
    background: #dddeee;
    border: 1px solid #cccaaa;
    border-radius: 5px;
    float: left;
    margin-top: 4px;
    margin-right: 20px;
    position: relative;
}

.user-container {
    margin: 0 auto;
}

.user-container:after {
    content: '';
    display: block;
    clear: both;
}
