.form-group.required .control-label:before {
  content:"*";
  color:red;
}

.is-breakable {
  /* For Firefox */
  white-space: pre-wrap;
  word-break: break-all;
  /* For Chrome and IE */
  word-wrap: break-word;
}
